.profile_scholarship_list{
    width: 95%;
    margin-left: 10%;
    @media #{$mobile_device}{
        padding-top: 20px;
        width: 100%;
        margin-left: 2%;
    }
    @media #{$tablet_device}{
        margin-left: 5%;
    }
    #accordion{
      margin-left: 0;
      width: 100%;
       .card{
           h5{
            button{
                font-size: 20px;
                font-weight: 400;
                color: #2E004B;
                @media #{$mobile_device}{
                    font-size: 12px;
                }
                @media #{$tablet_device}{
                    font-size: 18px;
                }
                i{
                    color: #00D363;
                    padding-right: 15px;
                }
             }
           }
           .card-body{
            padding: 0 10px 20px 20px;
           }
       }
       .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border-radius: .25rem;
        background: #fff !important;
        border: 5px;
        margin-bottom: 10px;
        border: .5px solid #E9E5EC;
        width: 105%;
        .card-header {
            margin-bottom: 0;
            background-color: #fff;
            border-bottom: none;
            // padding: 14px 0 0 14px;
            padding: 14px 0 16px 14px;
            span{
                @media #{$mobile_device} {
                    display: none;
                }
            }
        }
     }
    }
    .btn-link.focus, .btn-link:focus {
        text-decoration: none;
        border-color: transparent;
        box-shadow: none;
    }
    .btn-link:hover {
        color: #0056b3;
        text-decoration: none;
        background-color: transparent;
        border-color: transparent;
    }
}

.customListWidth{
  width: 60%;
  @media #{$mobile_device} {
      width: 90%;
  }
  @media #{$tablet_device}{
      width: 80%;
  }
}
